<% if @form_submission %>
  <h2>Form Preview:</h2>
  <%= render :partial => 'form_submissions/submission_block', :locals => {:form => @preview_form} %>
<% end %>

<h2>Edit <%=@form.name %> Form</h2>

<% form_for :form, @form, :url => form_path(@form), :html => {:method => :put, :id => "form_creator"} do |f| %>
  <fieldset id="form">
    <%= render :partial => 'form', :object => f %>
    <div class="form_item submit">
      <%= f.submit "Preview", :value => 'Preview' %> or 
      <%= f.submit "Save Changes" %>
    </div>
  </fieldset>
<% end %>
