<h2>Forms</h2>

<ul>
  <li><%= link_to "Create New Form", new_form_path %></li>
</ul>

<table>
  <thead>
    <tr>
      <th>Active?</th>
      <th>Name</th>
      <th>Submit Label</th>
      <th class="actions">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @forms.each do |form| %>
    <tr>
      <td><%= form.active? ? 'Yes' : 'No' %></td>
      <td><%= form.name %></td>
      <td><%= form.submit_label %></td>
      <td class="actions">
        <%= link_to "Show", form_path(form) %>
        <%= link_to "Edit", edit_form_path(form) %>
        <%= link_to "View Submissions", form_form_submissions_path(:form_id => form) %>
        <%= link_to "Delete", form_path(form), :method => :delete, :confirm => "Are you sure you want to delete '#{form.name}'?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>